*{
  margin:0px;
}

.pagina-actual{
  color:#F14A41 ;
}
.icono-carrito svg:hover{
  color:#FDFFFC ;
}
.icono-carrito svg{
  color: #F14A41;
}

.navbar {
  font-family: "Kavoon", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F2D2E;
  color: #FDFFFC;
  padding: 20px;
}

.navbar .logo img {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.nav-links li {
  margin-right: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #FDFFFC;
}

.nav-links li a:hover, .icono-usuario a:hover {
  color: #F14A41;
}
.nav-movil{
  display: none;
  cursor: pointer;
}
   
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2F2D2E;
    z-index: 333;
}
.navbar{
  padding: 5px;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    margin: 20px 0;
    text-align: center;
}

.nav-links li a {
    font-size: 24px;
}

.nav-movil {
    display: flex;
    cursor: pointer;
    z-index: 1000;
}
}


 .container {
    font-family: "Kavoon", sans-serif;
    background-color: #ffc515;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #e74c3c;
    color: #fff;
}

button {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Kavoon", sans-serif;
    margin-top: 3px;
}
#boton-pagar, #boton-carta, .direccion{
  margin-top: 10px;
}
button:hover {
    background-color: #c0392b;
}

#cartTotal {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
}

#backButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Kavoon", sans-serif;
}

#backButton:hover {
    background-color: #c0392b;
}