body {
    margin: 0;
    font-family: "Kavoon", sans-serif;
    background-color: #ffc515;
    min-height: 100%;
  }
  .pagina-actual{
    color:#F14A41 ;
  }
  .pagina-actual:hover{
    color:#FDFFFC ;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F2D2E;
    color: #FDFFFC;
    padding: 20px;
  }
  
  .navbar .logo img {
    height: 80px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 50px;
  }
  
  .nav-links li {
    margin-right: 30px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #FDFFFC;
  }
  
  .nav-links li a:hover, .icono-usuario a:hover {
    color: #F14A41;
  }
  .nav-movil{
    display: none;
    cursor: pointer;
  }
  .container-carrusel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
    position: relative; /* Para que poniendo posición absoluta a los divs hijos se queden */
  }
  
  .video-home {
    margin-top: 50px;
    position: relative;
    width: 100%;
  }
  
  .video-home video {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: 1; /* z-index para que otros elementos se puedan sobreponer */
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; /* Vídeo debajo del texto */
  }
  
  .video-texto {
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 3; /* Para sobreponer el texto*/
    color: #ffc515;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
  .nav-links li img{
    height: 20px;
  }
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: "Kavoon", sans-serif;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
  }

  .footer-section {
    flex: 1;
    min-width: 200px;
    padding: 0 10px; 
  }

  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0 auto;
    font-weight: bold;
  }
  
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .social-media a {
    margin-right: 10px;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
  }
  
  .social-media a:hover img {
    filter: brightness(50%);
  }

  .carrusel {
    position: relative;
    max-width: 40%; 
    height: 100%;
    margin: auto;
    overflow: hidden;
  }

.carrusel .slides {
    display: flex; 
    transition: transform 0.5s ease-in-out; /*Ease-in-out es para que la animacion vaya acelerando con el tiempo */
}

.carrusel img {
    width: 100%; 
    height: 100%; 
    flex-shrink: 0; /* Evita que la imagen se reduzca */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}
  .carrusel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides img {
    width: 100%;
    display: none;
}

.container-ubicacion p{
  color: #2F2D2E;
  font-size: 20px;
  height: 125px;
}
.mapa-ubicacion iframe {
  width: 100%;
  height: 100%; 
}
.mapa-ubicacion{
  border: #2F2D2E solid 3px;
  height: 300px;
  width: 600px;
  border-radius: 8px;
}

.container-ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  margin-bottom: 80px;
}
.container-ubicacion h2{
  font-size: 60px;
  color: #F14A41;
}

.primera-ubicacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 20px;
  padding: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contenedor-ubicaciones {
  display: flex;
  justify-content: space-around; /* Distribuye espacio entre los items */
  width: 100%;
}
.container-opinion h2 {
  padding: 20px;
  text-align: center;
  font-size: 60px;
  color: #F14A41;
}

.primer-parrafo, .segundo-parrafo, .tercer-parrafo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #FDFFFC;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 1100px;
  padding: 20px;
  margin: 40px auto; /* Centra el contenedor en el espacio disponible */
}

.primer-parrafo p, .segundo-parrafo p, .tercer-parrafo p {
  max-width: 80%;
  font-size: 20px;
  margin: 0 auto; 
  text-align: center;
}

.columna-texto {
  font-size: 20px;
  margin: 40px;
}

.columna-texto img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 80px;
  border: solid 3px #2F2D2E;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2F2D2E;
    z-index: 333;
}
.navbar{
  padding: 5px;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    margin: 20px 0;
    text-align: center;
}

.nav-links li a {
    font-size: 24px;
}

.nav-movil {
    display: flex;
    cursor: pointer;
    z-index: 1000;
}
  .video-texto{
    font-size: 36.01px;
  }
  .primer-parrafo p,.segundo-parrafo p,.tercer-parrafo p{
    font-size: 16.27px;
  }
  .columna-texto img {
    width: 79.50px;
    height: 79.50px;
    margin-right: 60px;
  }
  .container-opinion h2, .container-ubicacion h2 {
    font-size: 45.02px;
  }
  .mapa-ubicacion{
    height: 225.22px;
    width: 449.12px;
  }
  .container-ubicacion p{
    font-size: 15px;
    height: 93.77px;
  }
}
@media (max-width: 425px){
  .video-texto{
    font-size: 19.92px;
  }
  .primer-parrafo p,.segundo-parrafo p,.tercer-parrafo p{
    font-size: 7.30px;
  }
  .columna-texto img {
    width: 50px;
    height: 50px;
    margin-right: 33.20px;
  }
  .container-opinion h2, .container-ubicacion h2 {
    font-size: 24.91px;
  }
  .container-ubicacion p{
    font-size: 8.3px;
    height: 51.89px;
  }
  .mapa-ubicacion{
    height: 124.63px;
    width: 248.54px;
  }
}

@media (max-width: 1440px) {
  .footer-content {
    max-width: 1000px;
  }
}

/* Responsive: 1024px */
@media (max-width: 1024px) {
  .footer-content {
    max-width: 900px;
  }

  .footer-section {
    min-width: 180px;
  }
}

/* Responsive: 768px */
@media (max-width: 768px) {
  .footer-content {
    max-width: 700px;
  }

  .footer-section {
    min-width: 150px;
  }
}

@media (max-width: 426px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }

  .footer-section:nth-of-type(1) {
    order: 2;

  .footer-section:nth-of-type(2) {
    order: 1; 
  }

  .footer-section:nth-of-type(3) {
    order: 3; 
  }

  .footer-section {
    width: 100%;
    margin-bottom: 15px;
  }

  .social-media {
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .social-media img {
    width: 25px;
    height: 25px;
  }
}
}