body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ee1000, #ffc515);
}

.content-container {
    background-color: #ffffff;
    padding: 50px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 450px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

h2, h1 {
    font-family: 'Kavoon', cursive;
    margin-bottom: 20px;
    color: #333333;
    font-size: 2.5rem;
}



button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F14A41;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-link {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    border-radius: 5px;
    background-color: #F14A41;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-link:hover {
    background-color: #ffc515;
    transform: translateY(-5px);
}

@media (max-width: 480px) {
    .login-container, .content-container {
        padding: 30px 20px;
    }

    h2, h1 {
        font-size: 24px;
    }
}