body {
    font-family: "Kavoon", sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 20px;
}
h2 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
th, td {
    border: 1px solid #dee2e6;
    padding: 12px 15px;
    text-align: left;
}
th {
    background-color: #343a40;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
input{
    font-family: "Kavoon", sans-serif;
}
button {
    display: block;
    width: 100px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Kavoon", sans-serif;
}
button:hover {
    background-color: #0056b3;
}
#boton-add {
    background-color: #28a745;
}
#boton-add:hover {
    background-color: #218838;
}
#boton-delete {
    background-color: #dc3545;
}
#boton-delete:hover {
    background-color: #c82333;
}
#boton-update{
    background-color: #FFAD21;
}
.button-container a{
    text-decoration: none;
}
#home-admin{
    background-color: #05D6AA;
}
#home-admin:hover{
    background-color:#04b992 ;
}
.peticion-id p, div#formulario-update p{
    color: #ffc515;
}

.peticion-id p , .peticion-id input, .confirmacion button{
    margin: 10px;
    font-family: "Kavoon", sans-serif;
}
.confirmacion button{
    width: 100px;
    height: 30px;
    background-color: #ffc515;
}
.div-add p{
    color: #ffc515;
}
#formulario-delete{
    margin-top: 50px;
    background-color: #2F2D2E;
    width: 250px;
    border-radius: 8px;
    display: none;
    height: 150px;
}
#formulario-add {
    margin-top: 50px;
    background-color: #2F2D2E;
    width: 600px;
    border-radius: 8px;
    height: 800px;
    display: none;
    flex-direction: column;
    gap: 10px;
}
#formulario-update {
    margin-top: 50px;
    background-color: #2F2D2E;
    width: 600px;
    border-radius: 8px;
    height: 800px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.div-delete, .div-add, .div-update {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-add, .div-update {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.row .agregar-id,
.row .agregar-categoria,
.row .agregar-nombre {
    flex: 1 1 30%;
    box-sizing: border-box;
    margin-left: 10px;
}

.row .agregar-id input,
.row .agregar-categoria input,
.agregar-nombre input {
    width: 83%;
}

.agregar-descripcion,
.agregar-precio,
.agregar-nombre,
.agregar-ingredientes,
.agregar-imagen,
.confirmacion {
    display: block;
    width: 90%;
    margin-left: 10px;
}

.agregar-descripcion p,
.agregar-precio p,
.agregar-ingredientes p,
.agregar-imagen p,
.agregar-nombre p,
.confirmacion button {
    margin-left: 10px;
}

.agregar-descripcion input,
.agregar-precio input,
.agregar-nombre input,
.agregar-ingredientes input,
.agregar-imagen input {
    width: 100%;
}
