  body {
    margin: 0;
    font-family: "Kavoon", sans-serif;
    background-color: #ffc515;/*
    display: flex;
    flex-direction: column;*/
  }
  .pagina-actual{
    color:#F14A41 ;
  }
  .pagina-actual:hover{
    color:#FDFFFC ;
  }
  .nav-links li img{
    height: 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F2D2E;
    color: #FDFFFC;
    padding: 20px;
  }
  
  .navbar .logo img {
    height: 80px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 50px;
  }
  
  .nav-links li {
    margin-right: 30px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #FDFFFC;
  }
  
  .nav-links li a:hover, .icono-usuario a:hover {
    color: #F14A41;
  }
  .nav-movil{
    display: none;
    cursor: pointer;
  }
  .primera-division{
    max-width: 1200px;
    margin-left: 100px;
    display: flex;
    margin-top: 70px;
    padding: 20px;
    background-color: #FDFFFC;
    border-radius: 8px;
    width: 600px;
  }
  .tercera-division {
    max-width: 1200px;
    margin-left: 100px;
    display: flex;
    clear: both; /* Esto asegura que el div aparezca debajo de cualquier elemento flotante anterior */
    padding: 20px;
    background-color: #FDFFFC;
    border-radius: 8px;
    width: 600px;
  }
  .segunda-division {
    max-width: 1200px;
    margin-right: 100px;
    display: flex;
    float: right;
    padding: 20px;
    background-color: #FDFFFC;
    border-radius: 8px;
    width: 600px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .primer-parrafo{
    float:right;
    max-width: 60%;
  }
  
  .burger-primer-parrafo, .logo-segundo-parrafo, .grafica-tercer-parrafo{
    width: 40%;
    height: auto;
  }
  .burger-primer-parrafo img, .logo-segundo-parrafo img, .grafica-tercer-parrafo img{
    width: 330px;
    height: auto;
  }
  
  .primer-parrafo h1 {
    color: #F14A41;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .primer-parrafo p {
    color: #2F2D2E;
    font-size: 20px;
  }
  .container{
    margin-top: 100px;
    flex: 1;
  }
  .container h2{
   /* margin-bottom: 100px;*/
    font-size: 46px;
    text-align: center;
    left: 50%;
    color: #F14A41;
  }
  footer {
    background-color: #000;
    color: #FDFFFC;
    margin-top: 100px;
    padding: 20px 0;
    text-align: center;
    font-family: "Kavoon", sans-serif;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: #FDFFFC;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0 auto;
    font-weight: bold;
  }
  
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-media a {
    margin-right: 10px;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
  }
  
  .social-media a:hover img {
    filter: brightness(50%);
  }
  @media (max-width: 768px) {
  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2F2D2E;
    z-index: 333;
}
.navbar{
  padding: 5px;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    margin: 20px 0;
    text-align: center;
}

.nav-links li a {
    font-size: 24px;
}

.nav-movil {
    display: flex;
    cursor: pointer;
    z-index: 1000;
}
.container h2{
  font-size: 34.50px;
}
.primer-parrafo h1{
  font-size: 27px;
}
.primer-parrafo p{
  font-size: 15px;
}
.burger-primer-parrafo img, .logo-segundo-parrafo img, .grafica-tercer-parrafo img{
  width: 247.74px;
  height: auto;
}
.primera-division, .segunda-division, .tercera-division{
  width: 449.12px;
  margin-top: 52.49px;
}
.segunda-division{
  margin-bottom: 52.49px;
}
.container{
  margin-top: 75px;
}
}
@media (max-width: 425px){
  .container h2{
    font-size: 19.09px;
  }
  .primer-parrafo h1{
    font-size: 14.94px;
  }
  .primer-parrafo p{
    font-size: 8.3px;
  }
  .burger-primer-parrafo img, .logo-segundo-parrafo img, .grafica-tercer-parrafo img{
    width: 137.1px;
    height: auto;
  }
  .primera-division, .segunda-division, .tercera-division{
    width: 248.54px;
    margin-top: 29.05px;
  }
  .segunda-division{
    margin-bottom: 29.05px;
  }
  .container{
  margin-top: 41.50px;
  }
}

@media (max-width: 1440px) {
  .footer-content {
    max-width: 1000px;
  }
}

/* Responsive: 1024px */
@media (max-width: 1024px) {
  .footer-content {
    max-width: 900px;
  }

  .footer-section {
    min-width: 180px;
  }
}

/* Responsive: 768px */
@media (max-width: 768px) {
  .footer-content {
    max-width: 700px;
  }

  .footer-section {
    min-width: 150px;
  }
}

@media (max-width: 426px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }

  .footer-section:nth-of-type(1) {
    order: 2;

  .footer-section:nth-of-type(2) {
    order: 1; 
  }

  .footer-section:nth-of-type(3) {
    order: 3; 
  }

  .footer-section {
    width: 100%;
    margin-bottom: 15px;
  }

  .social-media {
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .social-media img {
    width: 25px;
    height: 25px;
  }
}
}