body {
  font-family: "Kavoon", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.section-header {
  font-size: 4vw;
  color: #333;
  text-align: center;
  margin: 40px 0 20px;
  font-family: "Kavoon", sans-serif;
}

.menu-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  justify-content: center;
}

.card-title-container {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.title-allergy-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-alergias {
  max-width: 4%;
  margin-right: 8px;
  margin-left: 5px;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
 
}
.card {
  perspective: 1000px; 
  margin-bottom: 20px; 
  height: 550px; 
  width: 100%;
  font-family: "Kavoon", sans-serif;
}

.card-price {
  color: #e74c3c; 
  font-size: 1.4em; 
  font-weight: bold; 
  padding: 5px 20px; 
  transition: all 0.3s ease-in-out; 
  margin-top: 8px; 
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-front {
  background-color: #fff; 
}



.card-front img {
 width: 55%;
  height: auto; 
  display: block; 
  margin-top: 5px;
}


.card-description {
  margin-left: 15px;
  margin-right: 15px;

}

.card-back {
  background-color: #2F2D2E; 
  color: #FDFFFC;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-bebidas {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

#cartTotal {
  font-weight: bold;
  font-size: 1.5em;
}

.add-to-cart-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #c0392b;
}

.swal2-confirm {
  font-weight: bold !important;
}

@media (max-width: 1023px) {
  .menu-section {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .section-header {
    font-size: 6vw;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%; 
  }

  .card-front img {
    width: 80%;
  }

  .menu-section {
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
  }
}



@media (max-width: 480px) {


  .nav-links {
    display: block;
  }

  .card-front, .card-back {
    padding: 10px;
    text-align: center;
  }

  .menu-section {
    grid-template-columns: 1fr; 
    gap: 8px;
  }

  .card {
    width: 95%; 
  }

  .card-description, .card-title {
    font-size: 3vw; 
  }
}
