body {
  font-family: "Kavoon", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.section-header {
  font-size: 70px;
  color: #333;
  text-align: center;
  margin: 40px 0 20px;
}

.menu-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  justify-content: center;
}

.card {
  perspective: 1000px; 
  margin-bottom: 20px; 
  height: 550px; 
  width: 550px;
}

.card-price {
  color: #e74c3c; 
  font-size: 1.4em; 
  font-weight: bold; 
  padding: 5px 20px; 
  transition: all 0.3s ease-in-out; 
  margin-top: 8px; 
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
}

.card-front {
  background-color: #fff; 
}

.card-front img {
  width: 65%;
  height: 60%;
}

.card-description {
  margin-left: 15px;
  margin-right: 15px;

}

.card-back {
  background-color: #2F2D2E; 
  color: #FDFFFC;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1200px) {
  .menu-section {
      grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .menu-section {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .menu-section {
      grid-template-columns: 1fr; 
  }
}
