body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}
.table{
    margin-top: 70px;
}


h2, h1 {
    margin-bottom: 20px;
    color: #333;
}


@media (max-width: 480px) {
    .login-container, .content-container {
        padding: 30px 20px;
    }

    h2, h1 {
        font-size: 24px;
    }
}