body {
  margin: 0;
  font-family: "Kavoon", sans-serif;
  background-color: #ffc515;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F2D2E;
  color: #FDFFFC;
  padding: 20px;
}

.navbar .logo img {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.nav-links li {
  margin-right: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #FDFFFC;
}

.nav-links li a:hover, .icono-usuario a:hover {
  color: #F14A41;
}


.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
}

.logo-login img {
  width: 80%;
  height: auto;
}

.iniciosesion-correo, .iniciosesion-contra, .iniciar-sesion, .logo-login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.titulo-iniciosesion{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: -10px;
}

.iniciosesion-correo input, .titulo-iniciosesion p,
.iniciosesion-contra input, .iniciar-sesion button{

  font-family: "Kavoon", sans-serif;
  border-radius: 5%;
}

.iniciar-sesion button{
  border-radius: 9%;
  padding: 2%;
  background-color:#ffc515 ;
  cursor: pointer;
}

.iniciar-sesion button:hover{
  background-color: #F14A41;
  color: #ffc515;
}
.casilla-iniciarsesion{
  background-color: #2F2D2E;
  width: 15%;
  height: 30%;
  padding: 4%;
  border: white solid 5px;
  border-radius: 5%;
}
.titulo-iniciosesion p{
  font-size: 30px;
  color: #ffc515;
}
