body {
  margin: 0;
  font-family: "Kavoon", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F2D2E;
  color: #FDFFFC;

}

.navbar .logo img {
  height: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.nav-links li {
  margin-right: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.nav-links li a:hover, .icono-usuario a:hover {
  color: #ECA400;
  border-color: #ECA400;
}

.container{
  top: 0;;
  width: 100%;
  height: 100%;
  background-color: #ECA400;
}