body {
    font-family: "Kavoon", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #f8f8f8;
    color: #f14a41;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

.product {
    margin-bottom: 30px;
    text-align: center;
}

.product img {
    width: 100%; 
    max-width: 300px; 
    display: block;
    margin: 0 auto 10px;
}

.product h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.product p {
    margin-bottom: 0;
}

/* Media Queries para hacerlo responsivo */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px; 
    }

    .product img {
        width: 100%; 
        max-width: 250px; 
    }
}