body {
  margin: 0;
  font-family: "Kavoon", sans-serif;
  background-color: #ffc515;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F2D2E;
  color: #FDFFFC;
  padding: 20px;
}

.navbar .logo img {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.nav-links li {
  margin-right: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #FDFFFC;
}

.nav-links li a:hover, .icono-usuario a:hover {
  color: #F14A41;
}
.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
  padding: 20px;
  background-color: #FDFFFC;
  /*box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  border-radius: 8px;
  width: 500px;
}
/*.primer-parrafo{
  
}*/

.primer-parrafo h1 {
  color: #F14A41;
  font-size: 36px;
  margin-bottom: 20px;
}

.primer-parrafo p {
  color: #333;
  font-size: 20px;
}